
html {
	 height: 100%;
    
     }

body {
	 background-image: url("images/ats_background.jpg");
   	 height: 100%;
     background-size:100% 180%;
     }


.global-form {
	        margin-top: 60px;
			}

#body_test{
	 background-image: url("") !important;
}
input[type=tel] {
    			-webkit-text-security: disc;
				}

form[role=global] {
				color: #5d5d5d;
				background: #f2f2f2;
				padding: 26px;
				border-radius: 10px;
				-webkit-border-radius: 10px;
				 }
				 
		section[role=global] {
				
				padding: 26px;
				 }
	
form[role=global] img {
					display: block;
					margin: 0 auto;
					 }
	
form[role=global] input,
form[role=global] button {
						font-size: 16px;
						margin: 10px 0;
						}

form[role=global] > div {
						text-align: center;
						}
	
.form-links {
			text-align: center;
			margin-top: 1em;
			margin-bottom: 50px;
			}
.form-links a {
				color: #fff;
			  }
#submit_button, #send_email, #check_in_time, #log_out_button_id, #submit_button_alert
{
background-color: #1357A6;
}
#span_link
{
color: #1357A6;
}



 <style type="text/css">/* 1st level */
.nav label {
	color: blue;
}

/* 2nd level */
.tree > li > label {
  padding:10px 15px;  
}
.glyphicon-user:before {
  margin-right: 5px;
}
.glyphicon-bed:before {
  margin-right: 5px;
}
.glyphicon-time:before {
  margin-right: 5px;
}
.glyphicon-pencil:before {
  margin-right: 5px;
  visibility:hidden;
}



.custom {
    width: 100px !important;
}

.glyphicon{

font-size: 22px; 
color: #1357A6;
}
